<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dias</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles_menu.css">
</head>
<body>
    <div class="row align-items-center">
        <div class="col-6">
            <!-- Foto do usuário e nome -->
            <div class="d-flex align-items-center">
                <div class="user-photo"></div>
                <!-- Nome de usuário -->
                <div class="user-name ml-2"> <a href="/informacoes" class="nome_link"><span id="name"></span> </a></div>
            </div>
        </div>
        <div class="col-6 d-flex justify-content-end align-items-center">
            <!-- Botão de configurações -->
            <a href="/configuracoes" class="btn btn-outline-secondary settings">Configurações</a>
        </div>
    </div>
        <!-- Linha separadora -->
        <hr>
        <!-- Parte principal da página -->
        <div class="titulo"></div>
        <div class="row justify-content-center">
            <div>
                <!-- Retângulos dos dias da semana -->
                <a href="/dias" class="option-link">
                    <div class="option-rectangle">
                        <span class="option-text">Agendar um horário</span>
                    </div>
                </a>
                <a href="/horarios_marcados" class="option-link">
                    <div class="option-rectangle">
                        <span class="option-text">Ver horários agendados</span>
                    </div>
            
            </div>
        </div>
    </div>



    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        const name = localStorage.getItem('username');
        document.getElementById('name').textContent = name;
    </script>
</body>
</html>